.gouwuche{
    width: 996px;
    min-height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
    table{
        width: 990px;
        margin: 0 auto;
        tbody tr{
            height: 86px;
        }
        tbody tr td{
            line-height: 86px;
            text-align: center;
            overflow: hidden;
            position: relative;
            img{
                height: 86px;
            }
            .minus,.add{
                width: 22px;
                height: 22px;
                display: inline-block;
                cursor: pointer;
                border: 1px solid #ccc;
                position: absolute;
                line-height: 22px;
            }
            .minus{
                top: 31px;
                left: 10px;
            }
            .add{
                top: 31px;
                left: 70px;
            }
            .amount{
                position: absolute;
                top: 31px;
                left: 41px;
                width: 20px;
                height: 20px;
                outline: none;
                text-align: center;
                border: 1px solid #D5D5D5;
            }
        }
        th{
            height: 27px;
            line-height: 27px;
            font-weight: normal;
            background: #EDEDED;
            text-align: center;
            font-size: 13px;
            color: rgb(98,98,98);
        }
        .sc{
           width: 95px; 
        }
        .sd{
           width: 95px;
        }
        .se{
            width: 155px;
        }
        .sf{
            width: 115px;
        }
        .se{
            width: 105px;
        }
    }
    .continue{
        width: 990px;
        height: 30px;
        border-top: 1px solid #EDEDED;
        text-align: right;
        line-height: 30px;
        font-size: 13px;
        margin: 5px auto;
        a{
            color: #87D0E3;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    .allmoney{
        width: 996px;
        height: 82px;
        margin-top: 20px;
        position: relative;
        span{
            position: absolute;
            width: 230px;
            height: 60px;
            line-height: 60px;
            top: 0;
            right: 0;
            text-align: left;
            background: #EDEDED;
            border: 1px solid #D5D5D5;
        }
        a{
            position: absolute;
            width: 76px;
            height: 30px;
            top: 16px;
            right: 10px;
            background: #ff0;
            text-align: center;
            line-height: 30px;
            font-size: 13px;
        }
    }
}
.more{
    width: 996px;
    margin: 10px auto;
    height: 349px;
    h4{
        font-size: 13px;
        color: #626262;
    }
    #l-banner{
        width: 996px;
        height: 332px;
        position: relative;
        overflow: hidden;
        ul{
            position: absolute;
            width: 3015px;
            height: 332px;
            li{
                margin: 10px 10px 0 0;
                float: left;
            }
        }
    }
}