.gouwuche {
  width: 996px;
  min-height: 100px;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
}

.gouwuche table {
  width: 990px;
  margin: 0 auto;
}

.gouwuche table tbody tr {
  height: 86px;
}

.gouwuche table tbody tr td {
  line-height: 86px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.gouwuche table tbody tr td img {
  height: 86px;
}

.gouwuche table tbody tr td .minus, .gouwuche table tbody tr td .add {
  width: 22px;
  height: 22px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ccc;
  position: absolute;
  line-height: 22px;
}

.gouwuche table tbody tr td .minus {
  top: 31px;
  left: 10px;
}

.gouwuche table tbody tr td .add {
  top: 31px;
  left: 70px;
}

.gouwuche table tbody tr td .amount {
  position: absolute;
  top: 31px;
  left: 41px;
  width: 20px;
  height: 20px;
  outline: none;
  text-align: center;
  border: 1px solid #D5D5D5;
}

.gouwuche table th {
  height: 27px;
  line-height: 27px;
  font-weight: normal;
  background: #EDEDED;
  text-align: center;
  font-size: 13px;
  color: #626262;
}

.gouwuche table .sc {
  width: 95px;
}

.gouwuche table .sd {
  width: 95px;
}

.gouwuche table .se {
  width: 155px;
}

.gouwuche table .sf {
  width: 115px;
}

.gouwuche table .se {
  width: 105px;
}

.gouwuche .continue {
  width: 990px;
  height: 30px;
  border-top: 1px solid #EDEDED;
  text-align: right;
  line-height: 30px;
  font-size: 13px;
  margin: 5px auto;
}

.gouwuche .continue a {
  color: #87D0E3;
}

.gouwuche .continue a:hover {
  text-decoration: underline;
}

.gouwuche .allmoney {
  width: 996px;
  height: 82px;
  margin-top: 20px;
  position: relative;
}

.gouwuche .allmoney span {
  position: absolute;
  width: 230px;
  height: 60px;
  line-height: 60px;
  top: 0;
  right: 0;
  text-align: left;
  background: #EDEDED;
  border: 1px solid #D5D5D5;
}

.gouwuche .allmoney a {
  position: absolute;
  width: 76px;
  height: 30px;
  top: 16px;
  right: 10px;
  background: #ff0;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
}

.more {
  width: 996px;
  margin: 10px auto;
  height: 349px;
}

.more h4 {
  font-size: 13px;
  color: #626262;
}

.more #l-banner {
  width: 996px;
  height: 332px;
  position: relative;
  overflow: hidden;
}

.more #l-banner ul {
  position: absolute;
  width: 3015px;
  height: 332px;
}

.more #l-banner ul li {
  margin: 10px 10px 0 0;
  float: left;
}
